<div class="container container--header">
    <div class="header__brand">
        <a href="/" class="brand__text">Satan<b class="brand__text--bold">News</b></a>
    </div>
    <div class="header__search">
        <form class="form--search">
            <label class="form__label form__label--search" for="search">
                <i class="fa fa-search form__icon form__icon--search" aria-hidden="true"></i>
                <input class="form__field form__field--search" id="search" name="search" type="text" placeholder="Search">
            </label>
        </form>
    </div>
</div>