<header class="header">
    <div class="container container--header">
        <div class="header__brand">
            <span class="brand__text">Satan<b class="brand__text--bold">News</b></span>
        </div>
        <div class="header__search">
            <form class="form--search">
                <label class="form__label form__label--search" for="search">
                    <i class="fa fa-search form__icon form__icon--search" aria-hidden="true"></i>
                    <input class="form__field form__field--search" id="search" type="text" placeholder="Search">
                </label>
            </form>
        </div>
    </div>
</header>