<section class="container--main-news">
    <div class="container">
        <div class="main-news">
            <div class="main-news__card">
                <img class="main-news__image" src="/images/landscape0.jpg" alt="Beautiful Place">
                <div class="main-news__overlay">
                    <h2 class="main-news__title">Satanismo em forma de música, você já escutou Ghost?</h2>
                    <p class="main-news__content">Ghost B.C. uma banda fundada pelo proprio Satanas, mas suas músicas
                        são
                        menos satanicas do que de costume, como um projeto pessoal vem convertendo milhares de jovens ao
                        satanismo?</p>
                </div>
            </div>
        </div>
    </div>
</section>