<h2 class="most-viewed__title">Most Viewed</h2>
<div class="most-viewed__news">
    <div class="news__card news__card--most-viewed">
        <img class="news-card__image news-card__image--most-viewed" src="/images/landscape0.jpg" alt="Card Image">
        <div class="news-card__content">
            <div class="news-card__category">Music</div>
            <div class="news-card__title">Seria Muca lider da banda Ghost?</div>
            <div class="news-card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dignissimos, minus error dolor enim dolores atque amet consequuntur nihil ipsum in
                expedita ipsa, provident necessitatibus fugit molestias incidunt deleniti? Repellat,
                expedita.
            </div>
            <a class="news-card__link" href="#">Saiba Mais</a>
        </div>
    </div>
</div>