<% for( let index=0; index < 6; index++ ) { %>
    <div class="news__card">
        <img class="news-card__image" src="/images/landscape0.jpg" alt="Card Image">
        <div class="news-card__content">
            <div class="news-card__category">Music</div>
            <div class="news-card__title">Seria Muca lider da banda Ghost?</div>
            <div class="news-card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dignissimos, minus error dolor enim dolores atque amet consequuntur nihil ipsum in
                expedita ipsa, provident necessitatibus fugit molestias incidunt deleniti? Repellat,
                expedita.
            </div>
            <a class="news-card__link" href="#">Saiba Mais</a>
        </div>
    </div>
<% } %>