.container--main-news {
    background-color: var(--black-color-ligthen-1);
}

.main-news {
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-news__card {
    min-width: 300px;
    width: 50%;
    display: flex;
    position: relative;
    border-radius: 24px;
}

.main-news__image {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: inherit;
}

.main-news__overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 32px;
    background-color: rgb(0 0 0 / 0.75);
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

.main-news__title {
    width: 60%;
    margin-bottom: 16px;
    color: var(--white-color-normal);
    font-size: 32px;
    font-weight: 800;
}

.main-news__content {
    max-width: 600px;
    color: var(--gray-color-normal);
    font-weight: 300;
}

@media screen and (max-width: 769px){
    .main-news__title {
        width: 100%;
    }
}