<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageName %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header">
        <%- include('header.ejs') -%>
    </header>

    <main>
        <section class="section__news">
            <div class="container">
                <div class="news">
                    <div class="single-news">
                        <h2 class="single-news__title">Quem é Muca Muriçoca o famoso criador do Papa Emeritus III?</h2>
                        <div class="single-news__author">
                            <img class="author__image" src="/images/user.jpg" alt="User Image">
                            <span class="author__name">Por Muca Muriçoca</span>
                        </div>
                        <div class="single-news__content">
                            <div class="single-news__text">Famoso por suas apresentações em shows e eventos de animes
                                Muca Muriçoca como é conhecido pela galerinha, também é o famoso criador da entidade
                                Papa Emeritus membro de extrema importancia na banda Ghost BC, o que muitos não sabem é
                                que atualmente ele não participa dos shows como Papa, no seu lugar está um sósia
                                conhecido por Tobias Forge, dizem que ele matou o primeiro Papa (Muca Muriçoca) pois o
                                mesmo estava atarefado com seu outro projeto pessoal, o Cantadas Enfadonhas. Hoje Muca
                                atua no backstage da banda, ajudando na criação de músicas e novos visuais para os
                                integrantes. 
                            </div>
                            <img class="single-news__image" src="/images/unnamed.jpg" alt="">
                        </div>
                    </div>
                    <div class="most-viewed most-viewed">
                        <%- include('most-viewed.ejs') -%>
                    </div>
                </div>
            </div>
        </section>

    </main>

</body>

</html>